@{
    ViewData["Title"] = "Khairah. Volunteer";
}
@model Khairah_.Models.Volunteer;

        <nav class="navigation navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="open-btn">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" asp-action="Index" asp-controller="Home"><img src="~/userpanel/assets/images/logo/logo.png" alt="logo">Khai<span>rah.</span></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse navigation-holder">
                    <button class="close-navbar"><i class="ti-close"></i></button>
                    <ul class="nav navbar-nav">
                        <li>
                            <a  asp-action="Index" asp-controller="Home">Home</a>
                        </li>
                        <li><a asp-action="about" asp-controller="Home">About</a></li>
                        <li class="menu-item-has-children">
                            <a asp-action="causes" asp-controller="Home">Causes</a>
                            <ul class="sub-menu">
                                @await Component.InvokeAsync("NavDropDown")
                            </ul>
                        </li>
                        <li><a asp-action="Khairah_event" asp-controller="Home">Event</a></li>

                        <li><a asp-action="donate" asp-controller="Home">Donate</a></li>
                        <li><a class="active" asp-action="volunteer" asp-controller="Home">Volunteer</a></li>

                        <li><a asp-action="partner" asp-controller="Home">Our Partners</a></li>
                        <li><a asp-action="blog" asp-controller="Home">Blog </a></li>

                        <li><a asp-action="contact" asp-controller="Home">Contact</a></li>
                    </ul>
                </div><!-- end of nav-collapse -->
                <div class="cart-search-contact">

            <partial name="_LogoutPartial"></partial>
                </div>
            </div><!-- end of container -->
        </nav>
    </header>
    <!-- end of header -->

 <!-- start page-title -->
        <section class="page-title">
            <div class="page-title-container">
                <div class="page-title-wrapper">
                    <div class="container" style="margin-top: 10px;">
                        <div class="row">
                            <div class="col col-xs-12">
                                <h2>Become a Volunteer</h2>
                                <ol class="breadcrumb">
                            <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                                    <li>Volunteer</li>
                                </ol>
                            </div>
                        </div> <!-- end row -->
                    </div> <!-- end container -->
                </div>
            </div>
        </section>
        <!-- end page-title -->
        <!-- volunteer-area-start -->
        <div class="volunteer-area ">
            <div class="volunteer-wrap section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="section-title section-title2 text-center">
                                <div class="thumb-text">
                                    <span>Volunteer</span>
                                </div>
                                <h2>Become a Volunteer</h2>
                                <p>Ready to make a difference? Join our team of dedicated volunteers and become an integral part of our mission to create positive change in our community. Apply now and be the change you wish to see in the world.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="volunteer-item">
                                <div class="volunteer-img-wrap">
                                    <div class="volunter-img">
                                        <img src="~/userpanel/assets/images/volunteer.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="volunteer-contact">
                                <div class="volunteer-contact-form">
                                    <form  class="contact-validation-active" asp-action="vol_record" asp-controller="Home">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-12 form-group">
                                                <input type="text" class="form-control" asp-for="VName" id="name" placeholder="Enter Name" required>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-12 form-group clearfix">
                                            <input type="email" class="form-control" asp-for="VEmail" id="email" placeholder="Enter Email" required>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-12 form-group">
                                                <input type="number" class="form-control" asp-for="VContNum" id="phone" placeholder="Enter Phone Number" required>
                                            </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-12 form-group form-group-in">
                                            <label for="file">Upload Your CV</label>
                                            <input id="file" type="file" class="form-control" asp-for="VResume" required onchange="displayFileName()">
                                            <i class="ti-cloud-up"></i>
                                            <span style="font-size:12px ;" id="fileName"></span>
                                        </div>
                                        @{
                                            <script>
                                                function displayFileName() {
                                                    var input = document.getElementById('file');
                                                    var fileName = document.getElementById('fileName');
                                                    fileName.textContent = input.files[0].name;
                                                }
                                            </script>

                                        }

                                            <div class="col-lg-12 col-12 form-group">
                                                <textarea class="form-control" asp-for="VMessage" id="note" placeholder="Case Description..." required></textarea>
                                            </div>
                                            <div class="submit-area col-lg-12 col-12">
                                                <button type="submit" class="theme-btn submit-btn">Send Message</button>
                                                <div id="loader">
                                                    <i class="ti-reload"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix error-handling-messages">
                                            <div id="success">Thank you</div>
                                            <div id="error"> Error occurred while sending email. Please try again later. </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- volunteer-area start -->
    <div class="volunteer-area v2 section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="section-title section-title2 text-center">
                        <div class="thumb-text">
                            <span>Volunteer</span>
                        </div>
                        <h2>Our Great Volunteer</h2>
                        <p>Celebrate the spirit of service with our exceptional volunteers, whose dedication and passion drive positive change in every endeavor. Join our dynamic team and become a catalyst for impactful transformations in our community.</p>
                    </div>
                </div>
            </div>
            <div class="volunteer-wrap">
                <div class="row">
                    <div class="col col-md-3 col-sm-6 custom-grid col-12">
                        <div class="volunteer-item">
                            <div class="volunteer-img">
                                <img src="~/Contentimages/team/1.png" alt="">
                            </div>
                            <div class="volunteer-content">
                                <h2><a href="#">Adriane Newby</a></h2>
                                <span>Volunteer</span>
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-3 col-sm-6 custom-grid col-12">
                        <div class="volunteer-item">
                            <div class="volunteer-img">
                                <img src="~/Contentimages/team/2.png" alt="">
                            </div>
                            <div class="volunteer-content">
                                <h2><a href="#">Allene Castaneda</a></h2>
                                <span>Volunteer</span>
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-3 col-sm-6 custom-grid col-12">
                        <div class="volunteer-item">
                            <div class="volunteer-img">
                                <img src="~/Contentimages/team/3.png" alt="">
                            </div>
                            <div class="volunteer-content">
                                <h2><a href="#">Malinda Willoughby</a></h2>
                                <span>Volunteer</span>
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-3 col-sm-6 custom-grid col-12">
                        <div class="volunteer-item">
                            <div class="volunteer-img">
                                <img src="~/Contentimages/team/4.png" alt="">
                            </div>
                            <div class="volunteer-content">
                                <h2><a href="#">Wilburn Hatfield</a></h2>
                                <span>Volunteer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <!-- volunteer-area start -->
        </div>

        <!-- volunteer-area-end -->