<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!-- <link rel="stylesheet" href="~/userpanel/assets/css/style.css"> -->
    <title>@ViewData["Title"] - Khairah_</title>

    <link rel="shortcut icon" type="image/png" href="~/userpanel/assets/images/icon.png">
    <link rel="stylesheet" href="~/userpanel/assets/css/f-style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" asp-append-version="true">
</head>

<body>
        <main role="main" class="pb-3">

        <partial name="_Notification" />
            @RenderBody()
        </main>


        <script src="~/userpanel/assets/js/jquery.min.js"></script>
        <script src="~/userpanel/assets/js/bootstrap.min.js"></script>
        <!-- Plugins for this template -->
        <script src="~/userpanel/assets/js/jquery-plugin-collection.js"></script>
        <!-- Custom script for this template -->
        <script src="~/userpanel/assets/js/script.js"></script>
        <script src="~/userpanel/assets/js/f-script.js"></script>
</body>

</html>