/* _content/Khairah./Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-ka0hot3wod] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-ka0hot3wod] {
  color: #0077cc;
}

.btn-primary[b-ka0hot3wod] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-ka0hot3wod], .nav-pills .show > .nav-link[b-ka0hot3wod] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-ka0hot3wod] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-ka0hot3wod] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-ka0hot3wod] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-ka0hot3wod] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-ka0hot3wod] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Khairah./Views/Shared/_Layout_admin.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-qhsa4jwpkd] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-qhsa4jwpkd] {
  color: #0077cc;
}

.btn-primary[b-qhsa4jwpkd] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-qhsa4jwpkd], .nav-pills .show > .nav-link[b-qhsa4jwpkd] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-qhsa4jwpkd] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-qhsa4jwpkd] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-qhsa4jwpkd] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-qhsa4jwpkd] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-qhsa4jwpkd] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Khairah./Views/Shared/_Layout_admin_register.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-fdrln4cq3h] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-fdrln4cq3h] {
  color: #0077cc;
}

.btn-primary[b-fdrln4cq3h] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-fdrln4cq3h], .nav-pills .show > .nav-link[b-fdrln4cq3h] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-fdrln4cq3h] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-fdrln4cq3h] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-fdrln4cq3h] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-fdrln4cq3h] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-fdrln4cq3h] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Khairah./Views/Shared/_UserRegister_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-rbf61u9mb6] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-rbf61u9mb6] {
  color: #0077cc;
}

.btn-primary[b-rbf61u9mb6] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-rbf61u9mb6], .nav-pills .show > .nav-link[b-rbf61u9mb6] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-rbf61u9mb6] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-rbf61u9mb6] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-rbf61u9mb6] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-rbf61u9mb6] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-rbf61u9mb6] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
